<table class="table table-condensed">
  <tr>
    <th>Date</th>
    <th>Big Door</th>
    <th>Back Door</th>
    <th>Basement Door</th>
  </tr>
  <% @updates.each do |u| %>
    <tr>
      <td><%= u.created_at.strftime('%F %T') %></td>
      <td><%= door_status u.big_door_open? %></td>
      <td><%= door_status u.back_door_open? %></td>
      <td><%= door_status u.basement_door_open? %></td>
    </tr>
  <% end %>
</table>