
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= !!@status['bigDoor'] %></span>
    Big Door
  </li>
  <li class="list-group-item">
    <span class="badge"><%= !!@status['backDoor'] %></span>
    Back Door
  </li>
  <li class="list-group-item">
    <span class="badge"><%= !!@status['basementDoor'] %></span>
    Basement Door
  </li>
</ul>
