
<table>
  <tr>
    <td>Big Door</td>
    <td><%= !!@status['bigDoor'] %></td>
  </tr>
  <tr>
    <td>Back Door</td>
    <td><%= !!@status['backDoor'] %></td>
  </tr>
  <tr>
    <td>Basement Door</td>
    <td><%= !!@status['basementDoor'] %></td>
  </tr>
</table>