
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= door_status(@status['bigDoor']) %></span>
    Big Door
  </li>
  <li class="list-group-item">
    <span class="badge"><%= door_status(@status['backDoor']) %></span>
    Back Door
  </li>
  <li class="list-group-item">
    <span class="badge"><%= door_status(@status['basementDoor']) %></span>
    Basement Door
  </li>
</ul>
