<table class="table table-condensed">
  <tr>
    <th>Date</th>
    <th>Event</th>
  </tr>
  <% @summary.group_by { |s| s[:date].strftime("%F")}.each do |d, summaries| %>
    <tr>
      <td colspan="2"><%= d %></td>
    </tr>
    <% summaries.each do |s| %>
      <tr>
        <td><%= s[:date].strftime('%T') %></td>
        <td><%= s[:summary]%></td>
      </tr>
    <% end %>
  <% end %>
</table>